<a href="https://colab.research.google.com/github/NitaJongkraijak/palm_weather_forecast_prediction/blob/main/ds_datasci_pj_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Install Data**

In [ ]:
!pip install patool

Collecting patool
  Downloading patool-1.12-py2.py3-none-any.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.5/77.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: patool
Successfully installed patool-1.12

In [ ]:
import patoolib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
patoolib.extract_archive('rain.zip')
patoolib.extract_archive('pressure.zip')
patoolib.extract_archive('temp.zip')

patool: Extracting rain.zip ...
patool: running /usr/bin/7z x -o./Unpack_bij7np7y -- rain.zip
patool: ... rain.zip extracted to `rain'.
patool: Extracting pressure.zip ...
patool: running /usr/bin/7z x -o./Unpack_1or3vgbx -- pressure.zip
patool: ... pressure.zip extracted to `pressure' (multiple files in root).
patool: Extracting temp.zip ...
patool: running /usr/bin/7z x -o./Unpack_ngh56cr9 -- temp.zip
patool: ... temp.zip extracted to `temp' (multiple files in root).

'temp'

In [ ]:
patoolib.extract_archive('humid.zip')
df_hm12=pd.read_excel('humid/humid/humid2012.xlsx')

PatoolError: ignored

In [ ]:
df_rain=pd.read_excel('rain/rain.xlsx')
df_temp12=pd.read_csv('temp/temp/temp2012.csv')
df_ps12=pd.read_csv('pressure/pressure/pressure2012.csv')

# **Rain Data**

In [ ]:
df_rain

,date,BKUG,NIKS,KYKT,BCAP,RMPT,PKTG,KKCN,UDMS,NGPH,...,SDO002,ONWR01,TADE01,SKN001,KPNT,SDO001,AIT001,KWN003,PATO01,PWA004
0,2012-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,2012-01-03,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.6,NaN,...,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN
3,2012-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN
4,2012-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3648,2021-12-27,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,1.6,0.0,0.0,0.0
3649,2021-12-28,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,...,NaN,0.0,1.0,0.8,NaN,NaN,0.0,0.0,0.0,0.0
3650,2021-12-29,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,...,NaN,0.0,36.2,108.6,NaN,NaN,0.0,0.0,8.0,0.0
3651,2021-12-30,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,...,NaN,0.0,30.0,78.8,NaN,NaN,0.0,0.0,1.4,0.0
3652,2021-12-31,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,29.4,NaN,NaN,0.0,0.0,0.0,0.0

count nan in rain data and make it to csv file

In [ ]:
df_rain_nan=pd.DataFrame(df_rain.isna().sum())
df_rain_nan.rename(columns ={0:'rain_nan_counts'},inplace = True)
df_rain_nan=df_rain_nan.sort_values(by='rain_nan_counts')
df_rain_nan.to_csv('rain_nan_counts.csv')

In [ ]:
df_rain_nan.reset_index(inplace=True)
df_rain_nan.rename(columns={'index':'code'},inplace=True)

In [ ]:
df_rain_nan=df_rain_nan.drop(0)
df_rain_nan.to_csv('rain_nan_counts.csv')

# **Station Data**

In [ ]:
df_station=pd.read_excel('rain/station.xlsx')

In [ ]:
df_station

,code,name,lat,long,tambon,amphoe,province,basin,region,station_type
0,BPPS,อบต.บางตาหงาย,15.937154,99.991750,บางตาหงาย,บรรพตพิสัย,นครสวรรค์,แม่น้ำปิง,ภาคเหนือ,R
1,TTWY,ทม.วังน้ำเย็น,13.501064,102.180211,วังน้ำเย็น,วังน้ำเย็น,สระแก้ว,แม่น้ำปราจีนบุรี,ภาคกลาง,R
2,KOSB,รพสต.ท่าข้าม,13.627619,102.574886,ท่าข้าม,อรัญประเทศ,สระแก้ว,โตนเลสาป,ภาคกลาง,R
3,BDCP,อบต.ด่านชุมพล,12.444730,102.630067,ด่านชุมพล,บ่อไร่,ตราด,ชายฝั่งทะเลตะวันออก,ภาคกลาง,R
4,MEWG,อบต.บ้านกาด,18.603914,98.798438,บ้านกาด,แม่วาง,เชียงใหม่,แม่น้ำปิง,ภาคเหนือ,R
...,...,...,...,...,...,...,...,...,...,...
945,KWN003,เขื่อนแควน้อยบำรุงแดน,17.182122,100.413882,คันโช้ง,วัดโบสถ์,พิษณุโลก,แม่น้ำน่าน,ภาคเหนือ,W
946,CAN001,คลองระพีพัฒน์แยกตก,14.206146,100.744806,คลองเจ็ด,คลองหลวง,ปทุมธานี,แม่น้ำเจ้าพระยา,ภาคกลาง,W
947,SDO001,เขตรักษาพันธุ์สัตว์ป่าเขาสอยดาว,13.103555,102.191962,ทรายขาว,สอยดาว,จันทบุรี,NaN,ภาคกลาง,R
948,SDO002,ฝายจิตรมานี,13.115491,102.203162,ทรายขาว,สอยดาว,จันทบุรี,NaN,ภาคกลาง,W
949,CHK002,เขาวง,15.181725,100.414560,ช่องแค,ตาคลี,นครสวรรค์,NaN,ภาคเหนือ,W

combine station data and rain nan counts data

In [ ]:
df_station_rain=df_station.merge(df_rain_nan, on='code', how='left')
df_station_rain.sort_values(by='rain_nan_counts',ignore_index=True,inplace=True)

In [ ]:
df_station_rain

,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,rain_nan_counts
0,NPI002,นบพิตำ,8.720035,99.796160,สระแก้ว,ท่าศาลา,นครศรีธรรมราช,ภาคใต้ฝั่งตะวันออก,ภาคใต้,W,90.0
1,SVI001,สวี 1,10.231241,99.098432,นาโพธิ์,สวี,ชุมพร,ภาคใต้ฝั่งตะวันออก,ภาคใต้,W,106.0
2,PIN005,เก้าเลี้ยว,15.850501,100.052064,หัวดง,เก้าเลี้ยว,นครสวรรค์,แม่น้ำปิง,ภาคเหนือ,W,114.0
3,PIN004,ขาณุวรลักษบุรี,16.064789,99.860275,ป่าพุทรา,ขาณุวรลักษบุรี,กำแพงเพชร,แม่น้ำปิง,ภาคเหนือ,W,144.0
4,SLA002,คลองหอยโข่ง,6.931242,100.439846,ทุ่งลาน,คลองหอยโข่ง,สงขลา,ทะเลสาบสงขลา,ภาคใต้,W,150.0
...,...,...,...,...,...,...,...,...,...,...,...
945,FOP052,ห้วยแม่แจ่ม,19.073096,98.306746,แจ่มหลวง,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,W,NaN
946,FOP058,บ้านใต้,8.178330,99.703552,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN
947,FOP057,บ้านประดู่,8.212015,99.703283,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN
948,FOP055,คลองกั้ง,17.716376,100.124090,บ้านด่านนาขาม,เมืองอุตรดิตถ์,อุตรดิตถ์,NaN,ภาคเหนือ,W,NaN
949,FOP053,ชุมชนแม่แดด,18.962694,98.412474,แม่แดด,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,R,NaN

In [ ]:
df_station_rain.to_csv('station_rain_nan_counts')

#**Temperature all years data nan counts**

In [ ]:
import glob

files = glob.glob('temp/temp/*.csv')
df_temp = pd.concat([pd.read_csv(fp) for fp in files], ignore_index=True)

In [ ]:
df_temp.replace(-999,np.nan,inplace=True)

In [ ]:
df_temp

,date,hour,BKUG,NIKS,KYKT,BCAP,RMPT,PKTG,KKCN,UDMS,...,SDO002,ONWR01,TADE01,SKN001,KPNT,SDO001,AIT001,KWN003,PATO01,PWA004
0,1,0,18.1,19.1,21.6,21.6,22.1,18.1,22.1,15.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,18.1,18.1,21.1,21.1,21.1,17.6,21.6,15.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,2,17.2,19.1,21.1,20.6,21.1,17.2,21.1,15.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,16.7,18.1,20.6,20.1,20.6,16.7,21.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,4,16.2,17.2,20.6,20.1,20.1,16.7,21.1,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87667,366,19,22.1,22.5,23.5,25.0,24.5,21.6,24.5,19.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87668,366,20,21.1,21.6,23.0,24.0,24.0,20.1,24.5,18.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87669,366,21,20.1,21.6,22.5,23.5,23.5,19.1,24.0,17.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87670,366,22,19.6,21.6,22.1,22.5,23.0,19.1,23.5,17.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87671,366,23,18.6,21.6,22.1,21.6,22.1,18.6,22.5,16.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_temp_nan=pd.DataFrame(df_temp.isna().sum())
df_temp_nan.rename(columns ={0:'temp_nan_counts'},inplace = True)
df_temp_nan=df_temp_nan.sort_values(by='temp_nan_counts')
df_temp_nan.reset_index(inplace=True)
df_temp_nan.rename(columns={'index':'code'},inplace=True)
df_temp_nan=df_temp_nan.drop([0,1])
df_temp_nan.to_csv('temp_nan_counts.csv')
df_temp_nan

        code  temp_nan_counts
2       PTWY             1278
3       TOGO             1680
4       DCCT             1803
5       BNHO             1850
6       NGPI             1860
...      ...              ...
1209  CHK002            87672
1210  SDO002            87672
1211  GLF002            87672
1212  SDO001            87672
1213  TB0003            87672

[1212 rows x 2 columns]

In [ ]:
df_station_temp=df_station.merge(df_temp_nan, on='code', how='left')
df_station_temp.sort_values(by='temp_nan_counts',ignore_index=True,inplace=True)

In [ ]:
df_station_temp

,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,temp_nan_counts
0,VLGE09,ชุมชนบ้านทับคริสต์,8.750260,98.801914,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,6827.0
1,VLGE03,เปร็ดใน,12.142045,102.529792,ห้วงน้ำขาว,เมืองตราด,ตราด,ชายฝั่งทะเลตะวันออก,ภาคกลาง,R,10089.0
2,VLGE33,ชุมชนบ้านโคกพะยอม,6.818722,99.809331,ละงู,ละงู,สตูล,ภาคใต้ฝั่งตะวันตก,ภาคใต้,R,15012.0
3,STH025,สำนักงานเกษตรอำเภอเจาะไอร้อง,6.224232,101.810970,จวบ,เจาะไอร้อง,นราธิวาส,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,15041.0
4,STH016,สถานีพัฒนาที่ดินยะลา,6.170364,101.180826,ธารโต,ธารโต,ยะลา,แม่น้ำปัตตานี,ภาคใต้,R,15150.0
...,...,...,...,...,...,...,...,...,...,...,...
945,FOP052,ห้วยแม่แจ่ม,19.073096,98.306746,แจ่มหลวง,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,W,NaN
946,FOP058,บ้านใต้,8.178330,99.703552,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN
947,FOP057,บ้านประดู่,8.212015,99.703283,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN
948,FOP055,คลองกั้ง,17.716376,100.124090,บ้านด่านนาขาม,เมืองอุตรดิตถ์,อุตรดิตถ์,NaN,ภาคเหนือ,W,NaN
949,FOP053,ชุมชนแม่แดด,18.962694,98.412474,แม่แดด,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,R,NaN

In [ ]:
df_station_temp.to_csv('station_temp_nan_counts.csv')

#**combine nan**

In [ ]:
df_station_temp_rain=df_station_temp.merge(df_station_rain.loc[:,['code','rain_nan_counts']], on='code', how='left')
df_station_temp_rain['temp_rain_nan']=df_station_temp_rain['temp_nan_counts']+df_station_temp_rain['rain_nan_counts']
df_station_temp_rain.sort_values(by='temp_rain_nan')

,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,temp_nan_counts,rain_nan_counts,temp_rain_nan
0,VLGE09,ชุมชนบ้านทับคริสต์,8.750260,98.801914,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,6827.0,174.0,7001.0
1,VLGE03,เปร็ดใน,12.142045,102.529792,ห้วงน้ำขาว,เมืองตราด,ตราด,ชายฝั่งทะเลตะวันออก,ภาคกลาง,R,10089.0,227.0,10316.0
3,STH025,สำนักงานเกษตรอำเภอเจาะไอร้อง,6.224232,101.810970,จวบ,เจาะไอร้อง,นราธิวาส,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,15041.0,509.0,15550.0
2,VLGE33,ชุมชนบ้านโคกพะยอม,6.818722,99.809331,ละงู,ละงู,สตูล,ภาคใต้ฝั่งตะวันตก,ภาคใต้,R,15012.0,586.0,15598.0
4,STH016,สถานีพัฒนาที่ดินยะลา,6.170364,101.180826,ธารโต,ธารโต,ยะลา,แม่น้ำปัตตานี,ภาคใต้,R,15150.0,567.0,15717.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,FOP052,ห้วยแม่แจ่ม,19.073096,98.306746,แจ่มหลวง,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,W,NaN,NaN,NaN
946,FOP058,บ้านใต้,8.178330,99.703552,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN,NaN,NaN
947,FOP057,บ้านประดู่,8.212015,99.703283,นาหลวงเสน,ทุ่งสง,นครศรีธรรมราช,NaN,ภาคใต้,W,NaN,NaN,NaN
948,FOP055,คลองกั้ง,17.716376,100.124090,บ้านด่านนาขาม,เมืองอุตรดิตถ์,อุตรดิตถ์,NaN,ภาคเหนือ,W,NaN,NaN,NaN
949,FOP053,ชุมชนแม่แดด,18.962694,98.412474,แม่แดด,กัลยาณิวัฒนา,เชียงใหม่,NaN,ภาคเหนือ,R,NaN,NaN,NaN

In [ ]:
df_station_temp_rain.to_csv('station_temp_rain_combine.csv')

In [ ]:
import pandas as pd

In [ ]:
df_station_all_nan=pd.read_csv('station_nan_combine.csv')

In [ ]:
df_station_all_nan.head(10)

,Unnamed: 0,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,pressure_nan_counts,humid_nan_counts,pressure_humid_nan,temp_rain_nan,all_nan
0,0,VLGE03,เปร็ดใน,12.142045,102.529792,ห้วงน้ำขาว,เมืองตราด,ตราด,ชายฝั่งทะเลตะวันออก,ภาคกลาง,R,11839.0,22270.0,34109.0,10316.0,41110.0
1,1,STH014,ที่ว่าการอำเภอสุคีริน,5.940162,101.771366,สุคิริน,สุคิริน,นราธิวาส,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,16983.0,39259.0,56242.0,17309.0,66558.0
2,2,STH025,สำนักงานเกษตรอำเภอเจาะไอร้อง,6.224232,101.810970,จวบ,เจาะไอร้อง,นราธิวาส,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,17072.0,37404.0,54476.0,15550.0,70074.0
3,3,VLGE33,ชุมชนบ้านโคกพะยอม,6.818722,99.809331,ละงู,ละงู,สตูล,ภาคใต้ฝั่งตะวันตก,ภาคใต้,R,17144.0,27502.0,44646.0,15598.0,60196.0
4,4,STH008,ที่ว่าการอำเภอกาบัง,6.427076,101.019347,กาบัง,กาบัง,ยะลา,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,17461.0,30837.0,48298.0,15911.0,64015.0
5,5,VLGE14,ชุมชนบ้านตูม,15.418898,104.341946,กุดน้ำใส,ค้อวัง,ยโสธร,แม่น้ำชี,ภาคตะวันออกเฉียงเหนือ,R,17673.0,20209.0,37882.0,16725.0,53793.0
6,6,VLGE09,ชุมชนบ้านทับคริสต์,8.750260,98.801914,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,18575.0,27936.0,46511.0,7001.0,62876.0
7,7,VLGE07,บ้านโคกพลวง,14.592325,102.667686,หนองโบสถ์,นางรอง,บุรีรัมย์,แม่น้ำมูล,ภาคตะวันออกเฉียงเหนือ,R,19298.0,18887.0,38185.0,17398.0,54910.0
8,8,STH030,ทต.ยะรัง,6.764132,101.300634,ยะรัง,ยะรัง,ปัตตานี,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,21920.0,24111.0,46031.0,27970.0,63340.0
9,9,VLGE31,ชุมชนม่วงชุม,20.101096,100.403994,ครึ่ง,เชียงของ,เชียงราย,แม่น้ำโขง,ภาคเหนือ,R,22164.0,25648.0,47812.0,20570.0,65210.0

In [ ]:
df_station_all_nan['temp_rain_humid_nan']=df_station_all_nan['temp_rain_nan']+df_station_all_nan['humid_nan_counts']

In [ ]:
df_station_all_nan=df_station_all_nan.sort_values(by='temp_rain_humid_nan')

In [ ]:
df_station_all_nan.to_csv('station_nan.csv')

In [ ]:
df_station_all_nan.loc[df_station_all_nan['province']=='สุราษฎร์ธานี']

,Unnamed: 0,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,pressure_nan_counts,humid_nan_counts,pressure_humid_nan,temp_rain_nan,all_nan,temp_rain_humid_nan
6,6,VLGE09,ชุมชนบ้านทับคริสต์,8.750260,98.801914,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,18575.0,27936.0,46511.0,7001.0,62876.0,34937.0
37,37,VLGE16,ชุมชนลีเล็ด,9.191749,99.253926,ลีเล็ด,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,35874.0,39050.0,74924.0,35558.0,109631.0,74608.0
52,52,TPI001,พุนพิน 1,9.131241,99.258835,ท่าข้าม,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,44848.0,42879.0,87727.0,39286.0,130463.0,82165.0
49,49,TPI004,ท่าขนอม,9.029429,98.969664,ท่าขนอน,คีรีรัฐนิคม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,44196.0,42800.0,86996.0,42446.0,128140.0,85246.0
51,51,TPI003,พุนพิน 3,8.986816,99.211302,ท่าสะท้อน,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,44585.0,42799.0,87384.0,42945.0,128838.0,85744.0
77,77,TPI002,พุนพิน 2,9.085796,99.170035,หนองไทร,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,50470.0,46507.0,96977.0,48829.0,144565.0,95336.0
125,125,SWR022,รพ.สต.เวียงสระ,8.655949,99.299322,เวียงสระ,เวียงสระ,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,53551.0,51355.0,104906.0,53451.0,155779.0,104806.0
155,155,SWR021,อบต.ตะปาน,8.866609,99.146822,ตะปาน,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,55982.0,51356.0,107338.0,53481.0,161675.0,104837.0
148,148,TPI005,เวียงสระ,8.571073,99.253926,ทุ่งหลวง,เวียงสระ,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,55416.0,54666.0,110082.0,52549.0,164337.0,107215.0
202,202,TPI007,วิภาวดี,9.206406,98.952486,ตะกุกเหนือ,วิภาวดี,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,60040.0,55160.0,115200.0,55423.0,171991.0,110583.0
243,243,TPI006,พระแสง,8.537437,99.180960,ไทรขึง,พระแสง,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,64725.0,61528.0,126253.0,63364.0,189617.0,124892.0
374,374,VLGE40,บ้านทับคริสต์,8.725806,98.821011,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,W,73234.0,68049.0,141283.0,72062.0,211698.0,140111.0
438,438,FOP026,สะพานคลองพาย,9.155656,98.894995,น้ำหัก,คีรีรัฐนิคม,สุราษฎร์ธานี,NaN,ภาคใต้,W,76806.0,76094.0,152900.0,79265.0,230690.0,155359.0
440,440,FOP030,สะพานข้ามคลองหวาด,8.935932,99.608742,คลองสระ,กาญจนดิษฐ์,สุราษฎร์ธานี,NaN,ภาคใต้,W,76812.0,76121.0,152933.0,79301.0,230883.0,155422.0
445,445,FOP025,สะพานบางไตประชาบริรักษ์,9.282496,98.876947,ตะกุกเหนือ,วิภาวดี,สุราษฎร์ธานี,NaN,ภาคใต้,W,76848.0,76139.0,152987.0,79331.0,231429.0,155470.0
437,437,FOP027,พิพิธภัณฑ์ธรรมชาติจัดการน้ำชุมชนฯ บ้านปากซวด,8.900032,98.803558,พะแสง,บ้านตาขุน,สุราษฎร์ธานี,NaN,ภาคใต้,R,76796.0,76399.0,153195.0,79271.0,230935.0,155670.0
469,469,FOP028,สะพานทางเข้าชุมชนบ้านปากซวด,8.889676,98.820314,พะแสง,บ้านตาขุน,สุราษฎร์ธานี,NaN,ภาคใต้,W,78198.0,77481.0,155679.0,80717.0,235161.0,158198.0
479,479,FOP029,สะพานบ้านสวนปราง,9.021278,99.633043,คลองสระ,กาญจนดิษฐ์,สุราษฎร์ธานี,NaN,ภาคใต้,W,79232.0,78523.0,157755.0,81733.0,238093.0,160256.0
521,521,KAKG,อบต.ปากฉลุย,9.300591,99.026042,ปากฉลุย,ท่าฉาง,สุราษฎร์ธานี,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
575,575,CBUR,อบต.ชัยบุรี,8.450635,99.083046,ชัยบุรี,ชัยบุรี,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
576,576,TPPN,ทม.ท่าข้าม,9.106068,99.232800,ท่าข้าม,พุนพิน,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
581,581,BSBA,อบต.ควนสุบรรณ,8.881527,99.382266,ลำพูน,บ้านนาสาร,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
624,624,KOSK,อบต.คลองศก,8.890472,98.661370,คลองศก,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
693,693,KSOD,อบต.คลองพา,9.592477,99.119590,คลองพา,ท่าชนะ,สุราษฎร์ธานี,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
862,862,KHNI,อบต.บ้านเสด็จ,8.763593,99.064640,บ้านเสด็จ,เคียนซา,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
939,939,FOP059,ชุมชนตำบลคลองสระ (น้ำตกภูริน),8.993954,99.658592,คลองสระ,กาญจนดิษฐ์,สุราษฎร์ธานี,NaN,ภาคใต้,R,NaN,NaN,NaN,NaN,NaN,NaN
940,940,FOP063,บ้านคลองมุย หมู่ที่ 13,9.249500,98.859800,ตะกุกเหนือ,วิภาวดี,สุราษฎร์ธานี,NaN,ภาคใต้,W,NaN,NaN,NaN,NaN,NaN,NaN
941,941,FOP061,บ้านคลองวาย หมู่ที่ 7,9.368531,98.867462,ตะกุกเหนือ,วิภาวดี,สุราษฎร์ธานี,NaN,ภาคใต้,W,NaN,NaN,NaN,NaN,NaN,NaN
942,942,FOP062,บ้านคลองใส หมู่ที่ 8,9.314682,98.889850,ตะกุกเหนือ,วิภาวดี,สุราษฎร์ธานี,NaN,ภาคใต้,W,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_station_all_nan.head(10)

,Unnamed: 0,code,name,lat,long,tambon,amphoe,province,basin,region,station_type,pressure_nan_counts,humid_nan_counts,pressure_humid_nan,temp_rain_nan,all_nan,temp_rain_humid_nan
0,0,VLGE03,เปร็ดใน,12.142045,102.529792,ห้วงน้ำขาว,เมืองตราด,ตราด,ชายฝั่งทะเลตะวันออก,ภาคกลาง,R,11839.0,22270.0,34109.0,10316.0,41110.0,32586.0
22,22,VLGE13,ชุมแสงสงคราม,16.858544,100.059642,ชุมแสงสงคราม,บางระกำ,พิษณุโลก,แม่น้ำยม,ภาคเหนือ,W,28170.0,17394.0,45564.0,16365.0,70138.0,33759.0
6,6,VLGE09,ชุมชนบ้านทับคริสต์,8.750260,98.801914,คลองชะอุ่น,พนม,สุราษฎร์ธานี,แม่น้ำตาปี,ภาคใต้,R,18575.0,27936.0,46511.0,7001.0,62876.0,34937.0
7,7,VLGE07,บ้านโคกพลวง,14.592325,102.667686,หนองโบสถ์,นางรอง,บุรีรัมย์,แม่น้ำมูล,ภาคตะวันออกเฉียงเหนือ,R,19298.0,18887.0,38185.0,17398.0,54910.0,36285.0
5,5,VLGE14,ชุมชนบ้านตูม,15.418898,104.341946,กุดน้ำใส,ค้อวัง,ยโสธร,แม่น้ำชี,ภาคตะวันออกเฉียงเหนือ,R,17673.0,20209.0,37882.0,16725.0,53793.0,36934.0
31,31,VLGE01,อบต.ตลาดไทร,15.181622,102.844442,ตลาดไทร,ชุมพวง,นครราชสีมา,แม่น้ำมูล,ภาคตะวันออกเฉียงเหนือ,R,32966.0,20354.0,53320.0,18835.0,83788.0,39189.0
3,3,VLGE33,ชุมชนบ้านโคกพะยอม,6.818722,99.809331,ละงู,ละงู,สตูล,ภาคใต้ฝั่งตะวันตก,ภาคใต้,R,17144.0,27502.0,44646.0,15598.0,60196.0,43100.0
15,15,VLGE02,บ้านผาชัน,15.755658,105.494560,สำโรง,โพธิ์ไทร,อุบลราชธานี,แม่น้ำโขง,ภาคตะวันออกเฉียงเหนือ,R,24575.0,24114.0,48689.0,20480.0,70192.0,44594.0
10,10,STH011,ที่ว่าการอำเภอยี่งอ,6.403440,101.706835,ยี่งอ,ยี่งอ,นราธิวาส,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,23929.0,26258.0,50187.0,18814.0,68565.0,45072.0
18,18,STH004,สถานีตำรวจภูธรกะพ้อ,6.560148,101.534074,กะรุบี,กะพ้อ,ปัตตานี,ภาคใต้ฝั่งตะวันออก,ภาคใต้,R,26087.0,27736.0,53823.0,18378.0,76177.0,46114.0

# **Data Cleaning**